body {
    color: black;
    background-color: white;
}

a:link {
    color: black;
}


a:hover {
    color: red;
}

div#Taskbar {
    width: 100%;
    height: 1.25em;
    text-align: center;
    border: 1px;
    outline: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

div#Taskbar {
    z-index: 100;
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    right: 0%;
    top: 0%;
    bottom: 96%;
    background-color: lightgray;
    position: absolute;
    display: flexbox;

}

div.Taskbar div.dropdown{
    display:none;
    text-decoration:none;
    padding: 4px 4px;
    color: black;
    text-align: left;
    position: relative;
    left: 5%;
    box-shadow: 1px 1px black;
    width: 110%;
    background-color: lightgray;
    font-size: 80%;
    
}

div.Taskbar:hover div.dropdown{
    display: flex;
    }
    
    

div.AllSports {
    width: 100%;
    text-align: center;
    border: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

div#AllSports {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-around;
    position: fixed;
    /* top: 80%; */
    bottom:20%;
    background-color: lightgray;
    /* position: absolute; */
}

div#Aboutme{
   position: absolute;
    top: 8em;

}

div#banner {
    position: absolute;
    top: 2.2em;
    text-align: center;
}

div#FallSports {
    position: fixed;
    text-align: center;
    top: 2em;
   
}

img#PhotographyBanner {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

div#me {
position: absolute;
top: 16.1em;
text-align: left;
}
img#proflie {
    width: 40%;
    
}
h3{
    top: 12.1em;
    position: absolute;
    text-align: right;
}
@media (max-width : 750px) {
    body {
        margin-left: 3%;
        margin-right: 3%;
    }
}

div#GOW {
    position: absolute;
    top: 35em;
}
img#gow {
width: 40%;
top: 41em;
text-align: center;
position: absolute;
}

div#offer {
    position: absolute;
    top: 60em;
}


div.gallery {
  top: 25em;
  position: relative;
    margin: 5px;
    border: 1px solid rgb(107, 105, 105);
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  div.gallery1 {
    position: relative;
      margin: 5px;
      border: 1px solid rgb(107, 105, 105);
      float: left;
      width: 180px;
    }
    
    div.gallery1:hover {
      border: 1px solid #777;
    }
    
    div.gallery1 img {
      width: 100%;
      height: auto;
    }
    
    div.desc {
      padding: 15px;
      text-align: center;
    }

    div.gallery2 {
        position: relative;
        top: 64em;
          margin: 5px;
          border: 1px solid rgb(107, 105, 105);
          float: left;
          width: 180px;
        }
        
        div.gallery2:hover {
          border: 1px solid #777;
        }
        
        div.gallery2 img {
          width: 100%;
          height: auto;
        }
        
        div.desc {
          padding: 15px;
          text-align: center;
        }
  
  

